# ------------------------
# Python basics
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/

# ------------------------
# Data
# ------------------------
data/*
!data/README.md   # keep download instructions

# ------------------------
# Models
# ------------------------
models/*
!models/.gitkeep  # keep empty folder for structure

# ------------------------
# MLflow
# ------------------------
mlruns/*
!mlruns/.gitkeep  # keep empty folder for structure
mlartifacts/

# ------------------------
# Logs & Outputs
# ------------------------
logs/
*.log
runs/

# ------------------------
# Plots and results
# ------------------------
plots/*
results/*
figures/*
outputs/*
# but keep final images if you want to show them in docs
!docs/images/
!README_images/

# ------------------------
# Secrets
# ------------------------
config.ini
secrets.json
credentials.json
.secrets

# ------------------------
# OS / IDE clutter
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
